/* header */

header {
    padding: 1rem 0;
    background-color: black;
    border-bottom: 1px solid rgba(255, 217, 0, 0.274);
}

header #logo {
    text-align: center;
    font-size: 4.2rem;
    color: gold;
    text-shadow: 0 0 8px gold;
    font-weight: 900;
}

header nav ul { 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: white;
}

header nav ul li {
    position: relative;
}

header nav ul li:first-of-type {
    list-style: none ;
}

header nav ul li a {
    display: inline-block;
    padding: 1rem;
    color: white;
}
