/* .glow {
    color: gold;
    text-shadow: 0 0 8px gold;
    font-weight: 900;
} */
/* hero */

#hero {
    padding: 10rem 0;
    color: white;
    background-color: black;
    text-align: center;
}

#hero .container {
    max-width: 65rem;
}

#hero h1 {
    padding: 0 0 5rem 0;
}

#hero p {
    padding: 0 0 1rem 0;
}

#hero a {
    display: inline-block;
    margin: 2rem 0 0 0;
    padding: 1rem;
    color: white;
    background-color: var(--bg-sky);
    border: 1px solid rgba(245, 245, 245, 0.308);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

#hero a:hover {
    background-color: rgba(30,30,30, 1);
}


/* about */

.about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 10rem 0;
}

.about > * {
    width: 100%;
}

.about__content h2 {
    padding: 0 0 4rem 0;
    text-align: center;
}

.about__image img {
    width: 100%;
    max-height: 35rem;
    object-fit: cover;
    border-radius: 5px;
}


/* about 1 */

#about-1 {
    color: var(--clr-white);
    background-color: var(--bg-roof);
    border-top: 10px solid var(--bg-sky);
    border-bottom: 10px solid var(--bg-cement);
}

#about-1 h2 { 
    text-decoration: underline;
    text-decoration-color: var(--clr-gold);
    text-underline-offset: 1rem;
    text-decoration-thickness: 3px;
}


/* about 2 */

#about-2 {
    background-color: var(--bg-gold);
}

#about-2 h2 { 
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 1rem;
    text-decoration-thickness: 3px;

}

#about-2 #videoGames {
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 0 0 10rem 0;
}

#about-2 #videoGames img {
    width: 100%;
    height: auto;
    max-height: 20rem;
    object-fit: cover;
}

#about-2 #videoGames img:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#about-2 #videoGames img:nth-child(4) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* inventory */

#inventory {
    background-color: var(--bg-sky);
}

#inventory img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

#inventory h2 {
    color: var(--clr-gold);
    text-shadow: 0 0 5px var(--black);
}



/* larger phones and tablets */

@media (min-width: 768px) {

    .about {
        flex-direction: row;
        align-items: center;
        gap: 4rem;
    }

}

